---
import Layout from '../layouts/Layout.astro';
import SeriesList from '../components/SeriesList';
import { supabase } from '../lib/supabase';

export async function load() {
	const { data, error } = await supabase
		.from('series')
		.select('*')
		.order('id', { ascending: true });

	if (error) {
		console.error(error);
		return { series: [] };
	}
	return { series: data };
}

const { series } = await load();
---

<Layout title="Cuevana6">
	<main class="flex flex-col items-center">
		<h1 class="text-2xl md:text-4xl font-bold">Cuevana6</h1>
		<SeriesList series={series}/>
	</main>
</Layout>
