---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold pb-5">Register</h1>
    <p>Already have an account? <a href="/signin">Login</a></p>
    <form action="/api/auth/register" method="post" class="flex flex-col gap-2 pt-5">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="input input-bordered w-full max-w-xs"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="input input-bordered w-full max-w-xs"/>
      <button class="btn btn-neutral w-full max-w-xs mt-2" type="submit">Registrarse</button>
    </form>
  </div>
</Layout>